 body, html { 
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }  

  main {
    margin: 30px 0;
  }

  .header {
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    background:#428ABD;
    background: url('./aiva-health-back.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
  }

  .header .container {
    padding: 0 !important;
  }

  .header h5 {
    margin: 5px 0 0 0 !important;
  }

  .destacado {
    color: #428ABD;
    font-weight: 600;
  }

  .contenido-principal {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding: 40px 30px;
    background: url('./aiva-health-logo-color.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: fixed;
  }

  .contenido-principal h5{
    font-weight: 600;
  }

  .contenido-principal h4{
    font-weight: 800;
    padding-left: 15px;
    border-left: 10px solid #428ABD;
    text-align: left;
  }

  h4.destacado {
    font-size: 24px !important;
    font-weight: 600;
    padding-left: 0px;
    border-left: none;
    text-align: center;
  }

  .footer {
    padding: 10px 30px;
    background:#428ABD;
    color: #ffffff;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
  }

  .footer .container  {
    padding: 0 !important;
  }
 
  #fecha h6 {
    font-size: .7em;
    margin: 0 !important;
  }

  #numero-pagina h6 {
    font-size: .7em;
    text-align: right !important;
  }

  .branding {
    width: 240px;
  }

  .branding img {
    width: 100%;
  }

  table {
    background: #ffffff;
  }

  .tabla-datos {
    margin: 30px 0;
    overflow-x:auto;
  }

  .tabla-datos table {
    border: 1px solid #07284D;
    font-size: .8em;
  }

  .tabla-datos td{
    padding: 5px 10px;
    border: 1px solid #07284D;
  }

  .tabla-datos td.primera-celda  {
    background: #D8E4E6;
  }

  .tabla-datos th{
    padding: 5px 10px;
    background: #07284D; 
    color: #ffffff;
  }

  .tabla-datos th.primera-celda  {
    background: #428ABD;
  }

  .tabla-poliza {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tabla-poliza table {
    border: 1px solid #3166AD;
  }

  .tabla-poliza td {
    border: 1px solid #3166AD;
  }

  .tabla-poliza th{
    background: #3166AD; 
    color: #ffffff;
  }

  .tabla-poliza th.logo-empresa{
    background: #ffffff; 
  }

  .tabla-poliza  .logo-empresa img{
    width: 100px;
    padding: 7px;
  }

  .tabla-2da {
    margin-top: 60px;
  }

  .primera-fila-poliza td {
   border: none;
  }

  .nombre-apellido {
    margin-top: 30px;
  }

  .tapa .branding {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .tapa .branding img {
    width: 50%;
  }

  .tapa-contenido {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
  }

  .tapa-contenido h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .tapa-contenido .parrafo-destacado {
    font-family: 'Poppins', sans-serif;
    margin: 30px 0px;
  }

  hr {
    width: 110px;
    border: 2px solid #428ABD;
  }

  #fecha-tapa {
    margin-top: 30px;
  }

  .propuesta p {
    font-size: .8em;
  }

  .legal {
    font-size: .7em;
  }

  #firma-electronica {
    width: 140px;
  }

  #firma-electronica img {
    background: #ffffff;
    border: 1.3px dotted #aaaaaa;
    padding: 20px;
    width: 100%;
  }

  /* Estilos MOBILE */

  @media only screen and (max-width: 768px) {
  .propuesta {
    display: none;
  }
  .branding {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .branding img, .tapa .branding img{
    width: 90%;
  } 
  main {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  } 
  .contenido-principal {
    text-align: left;
    padding: 10px !important;
  }
  .contenido-principal.tapa-contenido {
    text-align: center !important;
    padding: 40px !important;
  }
  .contenido-principal h4{
    font-size: 1.2em;
  }
 .boton-seguir .btn{
   display: block;
   width: 100%;
 }

}

/* Estilo botones */
 .boton-iniciar .btn{
   background: #07284D;
   border: none;
   border-radius: 30px;
   margin-top: 30px;

 }

 .boton-iniciar .btn:hover{
   background: #428ABD;
   margin-top: 30px;
   border: none;
 }

  .boton-seguir .btn{
   background: #07284D;
   border: none;
   border-radius: 30px;
   margin-top: 30px;
   padding: 7px 60px;
 }

 .boton-seguir .btn:hover{
   background: #428ABD;
   border: none;
 }